<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Medikachu</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.5/dist/bootstrap-table.min.css">

    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/styles.css') }}">
</head>

<body>
    <nav>
        <div class="container-fluid m-2">
            <div class="row justify-content-center align-items-center g-2">
                <div class="col-5 search-col">
                    
                        <input class="form-control me-2" id = 'search' type="search" placeholder="Search for any symptom"
                            aria-label="Search">
                        
                    
                </div>
                

            </div>

        </div>


        </div>
    </nav>
    <main>
        <div class="container-fluid mt-4">
            <div class="row justify-content-center align-items-center g-2 ">
                
                <div class="table-responsive m-3 table-sec">
                    <div class="add-new-btn-col">
                        <button class="btn add-new-btn" type="submit" onclick="togglefunc()">Add <i class="fa fa-plus"
                                aria-hidden="true"></i></button>
                    </div>
                    
                    <form class = 'add-new-sec my-3 d-none' action = '/medlist' method = "POST">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="medicine_name" placeholder="Medicine Name" name="medicine_name">
                            <label for="medicine_name">I am called</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="bag" placeholder="Bag" name="bag_name">
                            <label for="bag">Find me at</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="description" placeholder="Any Comments?" name="description">
                            <label for="description">Things to note about me</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="expiry" placeholder="Expiry Date" name="expiry">
                            <label for="expiry">I take an L on</label>
                        </div>
                        <div class="submit-new-btn-col">
                            <button class="btn submit-new-btn" type="submit">Hit me  <i class="fa fa-send" aria-hidden="true"></i></button>
                        </div>
                    </form>
                    <table id="table" data-toggle="table" class="table table-striped align-middle my-3">
                        <thead>
                        <tr>
                            <th data-field="medicine" data-sortable="true">Medicine</th>
                            <th data-field="bag" data-sortable="true">Bag</th>
                            <th data-field='comment'>Comments</th>
                            <th data-field="expiry" data-sortable="true">Expiry Date</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">       
                        {% for item in med_data %}
                        <tr>
                            <td>{{ item[0] }}</td>
                            <td>{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                            <td>{{ item[3] }}</td>
                        </tr>         
                        {% endfor %}
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
    </main>
</body>

</html>




<script src="https://kit.fontawesome.com/ae1e71d743.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.5/dist/bootstrap-table.min.js"></script>
<script>
    $(function () {
      $('#table').bootstrapTable()
    })
  </script>
<script src="{{ url_for('static',filename='js/app.js') }}"></script>